.header-container {
  background-image: url("../../assets/worldmap.png");
  background-position: center;
  object-fit: scale-down;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parrot-image {
  width: 95px;
  height: 85px;
  margin-right: 20px;
}

.title {
  color: #32cd32;
  font-family: "big-shoulders-display", sans-serif;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

.sub-title {
  color: #ffff;
  font-size: 0.8rem;
}
